body {
    background-color: rgb(190, 243, 224);
}
h2{
    color: rgb(116, 68, 148);
}
title{
    color: violet;
}
h3{
    color: rgb(141, 30, 30);
}

title{
    color: rgb(221, 109, 109);
}
.container-fluid
{
    color-scheme: blue;
}
